@model Your_Money.Models.Lancamento

@{
    ViewData["Title"] = "Editar Lançamento";

    var statusEditavel = Model.NumeroParcelas > 1;
    var dataEditavel = Model.NumeroParcelas > 1;
    var valorEditavel = Model.NumeroParcelas > 1;
    var valorTotalParcelas = Model.Parcelamentos.Sum(x => x.Valor);
}

<body style="background-image: url(/blue1.png);margin-left:10px;">

    <nav>
        <ol class="breadcrumb p-0 pt-0 pb-3" style="background: white;">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Usuarios" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Lancamentos" asp-action="Index">Lançamentos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Lançamento</li>
        </ol>
    </nav>

    <h2 style="color:darkblue">Editar Lançamento</h2>
    <hr>

    <form asp-action="Edit">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <b style="color:darkblue"><label asp-for="Tipo" class="control-label"></label></b>
                        <select asp-for="Tipo" class="form-control shadow-sm form-input" asp-items="Html.GetEnumSelectList<Transacao>()" disabled></select>
                        <input type="hidden" asp-for="Tipo" />
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b style="color:darkblue"><label asp-for="Classificacao" class="control-label"></label></b>
                        <select asp-for="Classificacao" class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<Classificacao>()" disabled></select>
                        <input type="hidden" asp-for="Classificacao" />
                        <span asp-validation-for="Classificacao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b style="color:darkblue"><label asp-for="Data" class="control-label"></label></b>
                        <input asp-for="Data" class="form-control shadow-sm" type="date" disabled="@dataEditavel" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b style="color:darkblue"><label asp-for="Status" class="control-label"></label></b>
                        <select asp-for="Status" class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<StatusTransacao>()" disabled="@statusEditavel"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b style="color:darkblue"><label class="control-label">Valor total das Parcelas</label></b>
                        <input class="form-control shadow-sm" value="@valorTotalParcelas" disabled />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b style="color:darkblue"><label asp-for="Via" class="control-label"></label></b>
                        <select asp-for="Via" class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<Via>()" disabled></select>
                        <input type="hidden" asp-for="Via" />
                        <span asp-validation-for="Via" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b style="color:darkblue"><label class="control-label">Valor Original</label></b>
                        <input asp-for="Valor" class="form-control shadow-sm" placeholder="R$ 0,00" disabled="@valorEditavel" />
                        <span asp-validation-for="Valor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b style="color:darkblue"><label asp-for="NumeroParcelas" class="control-label"></label></b>
                        <input asp-for="NumeroParcelas" class="form-control shadow-sm" placeholder="Se sim, digite o nº de repetições" disabled/>
                        <span asp-validation-for="NumeroParcelas" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b style="color:darkblue"><label asp-for="Descricao" class="control-label"></label></b>
                        <input asp-for="Descricao" class="form-control shadow-sm" placeholder="Descreva seu lançamento" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <h3 style="color:darkblue">Parcelas</h3>
        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <table class="table ml-3 mr-3">
                        <thead>
                            <tr style="background-color:whitesmoke">
                                <th>
                                    Valor
                                </th>
                                <th>
                                    DataPagamento
                                </th>
                                <th>
                                    DataVencimento
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Ações
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Parcelamentos != null && Model.Parcelamentos.Count > 0)
                            {
                                @foreach (var item in Model.Parcelamentos)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Valor)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataPagamento)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataVencimento)
                                        </td>
                                        <td>
                                            @if (item.Status == true)
                                            {
                                                <span>Efetivado</span>
                                            }
                                            else
                                            {
                                                <span>Pendente</span>
                                            }
                                        </td>

                                        <td>
                                            <a asp-controller="Parcelamentos" asp-action="Edit" asp-route-id="@item.Id">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                                </svg>
                                            </a> <h7 class="text-info"> | </h7>
                                            <a asp-controller="Parcelamentos" asp-action="Details" asp-route-id="@item.Id">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                    <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">Nenhum registro de parcelamento</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>
</body>