@model Your_Money.Models.Lancamento

@{
    ViewData["Title"] = "Editar Lançamento";
}

<body style="background-image: url(/blue1.png);margin-left:10px;">

<nav>
    <ol class="breadcrumb p-0 pt-0 pb-3" style="background: white;">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Usuarios" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Lancamentos" asp-action="Index">Lançamentos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar Lançamento</li>
    </ol>
</nav>

<h2 style="color:darkblue">Editar Lançamento</h2>
<hr>

    <div class="container">
        <form asp-action="Edit">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <b style="color:darkblue"><label asp-for="Tipo" class="control-label"></label></b>
                        <select asp-for="Tipo" class="form-control shadow-sm form-input" asp-items="Html.GetEnumSelectList<Transacao>()" disabled></select>
                        <input type="hidden" asp-for="Tipo" />
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b style="color:darkblue"><label asp-for="Classificacao" class="control-label"></label></b>
                        <select asp-for="Classificacao" class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<Classificacao>()" disabled></select>
                        <input type="hidden" asp-for="Classificacao" />
                        <span asp-validation-for="Classificacao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b style="color:darkblue"><label asp-for="Data" class="control-label"></label></b>
                        <input asp-for="Data" class="form-control shadow-sm" type="date" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b style="color:darkblue"><label asp-for="Status" class="control-label"></label></b>
                        <select asp-for="Status" class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<StatusTransacao>()" ></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b style="color:darkblue"><label asp-for="Via" class="control-label"></label></b>
                        <select asp-for="Via" class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<Via>()" disabled></select>
                        <input type="hidden" asp-for="Via" />
                        <span asp-validation-for="Via" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b style="color:darkblue"><label asp-for="Valor" class="control-label"></label></b>
                        <input asp-for="Valor" class="form-control shadow-sm" placeholder="R$ 0,00" />
                        <span asp-validation-for="Valor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b style="color:darkblue"><label asp-for="NumeroParcelas" class="control-label"></label></b>
                        <input asp-for="NumeroParcelas" class="form-control shadow-sm" placeholder="Se sim, digite o nº de repetições" />
                        <span asp-validation-for="NumeroParcelas" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b style="color:darkblue"><label asp-for="Descricao" class="control-label"></label></b>
                        <input asp-for="Descricao" class="form-control shadow-sm" placeholder="Descreva seu lançamento" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">

                    <div class="col-md-12">
            <h3 style="color:darkblue">Parcelas</h3>
            <hr>

            <div class="row">
                <table class="table ml-3 mr-3">
                    <thead>
                        <tr style="background-color:whitesmoke">
                            <th>
                                Valor
                            </th>
                            <th>
                                DataPagamento
                            </th>
                            <th>
                                DataVencimento
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Parcelamentos != null && Model.Parcelamentos.Count > 0)
                        {
                            @foreach (var item in Model.Parcelamentos)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Valor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataPagamento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataVencimento)
                                    </td>
                                    <td>
                                        @if (item.Status == true)
                                        {
                                            <span>Efetivado</span>
                                        }
                                        else
                                        {
                                            <span>Pendente</span>
                                        }
                                    </td>

                                    <td>
                                        <a asp-controller="Parcelamentos" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                        <a asp-controller="Parcelamentos" asp-action="Details" asp-route-id="@item.Id">Detalhar</a> |
                                        <a asp-controller="Parcelamentos" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">Nenhum registro de parcelamento</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
                <div class="col-md-6">
                    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD
<<<<<<< HEAD
</form>
=======
</div>

=======
>>>>>>> Homolog
</body>
>>>>>>> Homolog


