@model IEnumerable<Your_Money.Models.Lancamento>

@{
    ViewData["Title"] = "Index";
}
<nav>
    <ol class="breadcrumb p-0 pt-0 pb-3" style="background: white;">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Usuarios" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lançamentos</li>
    </ol>
</nav>

<h2 style="color:darkblue">Visão Geral dos Lançamentos</h2>
<hr>
<p>
    <a asp-action="Create">Adicionar Lançamento</a>
</p>
<table class="table">
    <thead>
        <tr style="background-color:whitesmoke">
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Via)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Via)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
