@model IEnumerable<Your_Money.Models.Lancamento>

@{
    ViewData["Title"] = "Relatorio";
}

<nav>
    <ol class="breadcrumb p-0 pt-0 pb-3" style="background: white;">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Usuarios" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Relatório</li>
    </ol>
</nav>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
<h2 style="color:darkblue;padding-top:10px;padding-bottom:5px;"> Detalhamento </h2>

</div>
<div class="flex-sm-column">
            <form asp-action="Index" method="get" class="row">
                <div class="form-group p-1">
                    <label class="control-label" style="color:darkblue;"><b>Transação</b></label>
                   <select class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<Transacao>()"></select>
                </div>
                    <div class="form-group p-1">
                        <label class="control-label" style="color:darkblue;"><b>Via</b></label>
                        <select class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<Via>()"></select>
                    </div>
                    <div class="form-group p-1">
                        <label class="control-label" style="color:darkblue;"><b>Classificação</b></label>
                        <select class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<Classificacao>()"></select>
                    </div>
                    <div class="form-group p-1">
                        <label class="control-label" style="color:darkblue;"><b>Status</b></label>
                        <select class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<StatusTransacao>()"></select>
                    </div>
                    <div class="form-group p-1">
                        <button class="btn btn-primary" style="margin-top:32px;">Pesquisar</button>
                    </div>
            </form>
</div>
    </div>
</div>

<hr>
<div>
    <canvas id="grafico2" style="display: block; box-sizing: border-box;" width="1856" height="628"></canvas>
</div>

<script>
    var dadosGrafico2 ={
        labels: ['Alimentação',
            'Veículo',
            'Salário',
            'Moradia',
            'Transporte',
            'Empréstimos',
            'Entretenimento',
            'Impostos',
            'Taxas',
            'Saúde'],
        datasets: [
            {
                label: ' R$',
                data: [100, 200, 150, 300, 250, 138, 780, 98, 654, 345],
                borderWidth: 1,
                backgroundColor: ['rgb(255, 99, 13)',
                    'rgb(75, 192, 192)',
                    'rgb(255, 205, 86)',
                    'rgb(201, 203, 207)',
                    'rgb(876, 203, 207)',
                    'rgb(201, 340, 207)',
                    'rgb(201, 203, 549)',
                    'rgb(451, 203, 870)',
                    'rgb(201, 203, 100)',
                    'rgb(54, 162, 235)'],
            },
                    ],
    };
    var grafico2 = new Chart(document.getElementById("grafico2"),
    {
        responsive: true,
        type: "bar",
        data: dadosGrafico2,
            options: {
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: 'Classificação dos Lançamentos',
                        font: {
                            size: 16
                        }
                    }
                }
            }
    });
</script>


<div style="padding-top:10px;">
    <hr>
    <h5 style="color:darkblue;padding-top:20px;padding-bottom:10px;"> Descritivo das despesas </h5>

    <table class="table" style="text-align:center;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Via)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Via)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contas.Id)
            </td>
        </tr>
}
    </tbody>
</table>
</div>
