@model IEnumerable<Your_Money.Models.Lancamento>

@{
    ViewData["Title"] = "Relatorio";
}

<nav>
    <ol class="breadcrumb p-0 pt-0 pb-3" style="background: white;">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Usuarios" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Relatório</li>
    </ol>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <h2 style="color:darkblue;">Visão Global</h2>

            <h6 style="color:black;">Saldo total do Ano: <b>R$ @ViewBag.SaldoTotal</b></h6>
        </div>
        <div class="col">
            <form asp-action="Index" method="get" class="form-row">
                <div class="col-7">
                    <div class="form-group">
                        <label class="control-label" style="color:darkblue;"><b>Ano</b></label>
                        <input type="number" name="ano" class="form-control shadow-sm" required style="color:darkblue;" Placeholder="Digite o ano" value="@ViewBag.AnoAtual" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary" style="margin-top:32px;">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<hr>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
    <canvas id="grafico1" style="width: 300px; height:70px;"></canvas>
</div>

<script>

    var data = {
        labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        datasets: [{
            label: 'Receitas',
            data: [10, 5, 7],
            borderWidth: 1,
            backgroundColor: ['lightgreen'],
        },
        {
            label: 'Despesa',
            data: [4, 8, 2],
            borderWidth: 1,
            backgroundColor: ['indianred'],
        }
        ]
    };

    var config = {
        type: 'bar',
        data,
        options: {
            legend: false,
            scales: {
                y: {
                    beginAtZero: true,
                    grid: {
                        drawOnChartArea: false
                    }
                }
            }
        }
    };

    var myChart = new Chart(
        document.getElementById('grafico1'),
        config
    );

</script>

<hr>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-sm">
            <hr>
            <h2 style="color:darkblue;padding-top:10px;padding-bottom:5px;"> Detalhamento </h2>

        </div>
    </div>


    <div class="container">

        <div class="row">
            <div class="col">
                <form asp-action="Index" method="get" class="form-row justify-content-center">
                    <div class="form-group p-1">
                        <label class="control-label" style="color:darkblue;"><b>Mês</b></label>
                        <select name="mes" class="form-control shadow-sm" required style="color:darkblue;">
                            <option value="@ViewBag.MesAtual">Mês Atual</option>
                            <option value="1">Janeiro</option>
                            <option value="2">Fevereiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>

                    <div class="form-group p-1">
                        <label class="control-label" style="color:darkblue;"><b>Ano</b></label>
                        <input type="number" name="ano" class="form-control shadow-sm" required style="color:darkblue;" Placeholder="Digite o ano" value="@ViewBag.AnoAtual" />
                    </div>


                    <div class="form-group p-1">
                        <label class="control-label" style="color:darkblue;"><b>Transação</b></label>
                        <select class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<Transacao>()"></select>
                    </div>
                    <div class="form-group p-1">
                        <label class="control-label" style="color:darkblue;"><b>Via</b></label>
                        <select class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<Via>()"></select>
                    </div>

                    <div class="form-group p-1">
                        <label class="control-label" style="color:darkblue;"><b>Status</b></label>
                        <select class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<StatusTransacao>()"></select>
                    </div>
                    <div class="form-group p-1">
                        <button class="btn btn-primary" style="margin-top:32px;">Pesquisar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="row">

        <div class="col-6">
            
            <canvas id="grafico2"></canvas>

            <script>
                var data = {
                    labels: ['Alimentação',
                        'Veículo',
                        'Salário'],
                    datasets: [{
                        label: 'Receitas',
                        data: [10, 5, 7],
                        borderWidth: 1,
                        backgroundColor: ['lightgreen'],
                    },
                    ]
                };
                var config = {
                    type: 'bar',
                    data,
                    options: {
                        indexAxis: 'y',
                        scales: {
                            x: {
                                beginAtZero: false,
                                grid: {
                                    drawOnChartArea: false
                                }
                            }
                        }
                    }
                };

                var myChart = new Chart(
                    document.getElementById('grafico2'),
                    config
                );

            </script>
        </div>

        <div class="col-6">

            <canvas id="grafico3"></canvas>

            <script>

                var data = {
                    labels: ['Alimentação',
                        'Veículo',
                        'Salário',
                        'Moradia',
                        'Transporte',
                        'Empréstimos',
                        'Entretenimento',
                        'Impostos',
                        'Taxas',
                        'Saúde'],
                    datasets: [{
                        label: 'Depesas',
                        data: [10, 5, 7],
                        borderWidth: 1,
                        backgroundColor: ['indianred'],
                    },
                    ]
                };
                var config = {
                    type: 'bar',
                    data,
                    options: {
                        indexAxis: 'y',
                        scales: {
                            x: {
                                beginAtZero: true,
                                grid: {
                                    drawOnChartArea: false
                                }
                            }
                        }
                    }
                };

                var myChart = new Chart(
                    document.getElementById('grafico3'),
                    config
                );

            </script>
        </div>

    </div>
</div>


<div class="pag" style="padding-top:10px;">
    <hr>
    <h5 style="color:darkblue;padding-top:20px;padding-bottom:10px;"> Descritivo dos Lançamentos </h5>

    <table class="table" style="text-align:center;">
        <thead>
            <tr style="background-color:aliceblue">
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Via)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Classificacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contas)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Via)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classificacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contas.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
