@model IEnumerable<Your_Money.Models.Lancamento>

@{
    ViewData["Title"] = "Relatorio";
    var lancamentosMes = ViewBag.LancamentosMes as Dictionary<int, (int receitasMes, int despesasMes)>;
}

<nav>
    <ol class="breadcrumb p-0 pt-0 pb-3" style="background: white;">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Usuarios" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Relatório</li>
    </ol>
</nav>

<div class="container-fluid pt-5 pb-3" style="background-image:url(/blue2.png);">
    <div class="row">
        <div class="col-9">
            <h2 style="color:darkblue;">Visão Global</h2>

            <h6 style="color:black;">Saldo total do Ano: <b>R$ @ViewBag.SaldoTotalAno</b></h6>
        </div>
        <div class="col">
            <form asp-action="Relatorio" method="get" class="form-row">
                <div class="col-7">
                    <div class="form-group">
                        <label class="control-label" style="color:darkblue;"><b>Ano</b></label>
                        <input type="number" name="ano" class="form-control shadow-sm" required style="color:darkblue;" Placeholder="Digite o ano" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary" style="margin-top:32px;">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<hr>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
    <canvas id="grafico1" style="width:300px; height:100px;padding-top:30px;padding-bottom:50px;"></canvas>
</div>

<script>

    var data = {
        labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        datasets: [{
            label: 'Receitas',
            data: [@lancamentosMes[1].receitasMes,
                    @lancamentosMes[2].receitasMes,
                    @lancamentosMes[3].receitasMes,
                    @lancamentosMes[4].receitasMes,
                    @lancamentosMes[5].receitasMes,
                    @lancamentosMes[6].receitasMes,
                    @lancamentosMes[7].receitasMes,
                    @lancamentosMes[8].receitasMes,
                    @lancamentosMes[9].receitasMes,
                    @lancamentosMes[10].receitasMes,
                    @lancamentosMes[11].receitasMes,
                    @lancamentosMes[12].receitasMes],
            borderWidth: 1,
            backgroundColor: ['lightgreen'],
        },
        {
            label: 'Despesa',
            data: [@lancamentosMes[1].despesasMes,
                    @lancamentosMes[2].despesasMes,
                    @lancamentosMes[3].despesasMes,
                    @lancamentosMes[4].despesasMes,
                    @lancamentosMes[5].despesasMes,
                    @lancamentosMes[6].despesasMes,
                    @lancamentosMes[7].despesasMes,
                    @lancamentosMes[8].despesasMes,
                    @lancamentosMes[9].despesasMes,
                    @lancamentosMes[10].despesasMes,
                    @lancamentosMes[11].despesasMes,
                    @lancamentosMes[12].despesasMes],
            borderWidth: 1,
            backgroundColor: ['indianred'],
        }
        ]
    };

    var config = {
        type: 'bar',
        data,
        options: {
            plugins: {
                legend: {
                    labels: {
                        font: {
                            size: 18,
                        }
                    },
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        grid: {
                            drawOnChartArea: false
                        }
                    }
                }
            }
        }
    };

    var myChart = new Chart(
        document.getElementById('grafico1'),
        config
    );

</script>

<hr>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container-fluid" style="background-image:url(/blue2.png);">
    <div class="row">
        <div>
            <h4 style="color:darkblue;padding-top:10px;padding-bottom:5px;"> Detalhamento </h4>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col">
                <form asp-action="Relatorio" method="get" class="form-row justify-content-center">
                    <div class="form-group p-1">
                        <label class="control-label" style="color:darkblue;"><b>Mês</b></label>
                        <select name="mes" class="form-control shadow-sm" required style="color:darkblue;">
                            <option value="@ViewBag.MesAtual">Mês Atual</option>
                            <option value="1">Janeiro</option>
                            <option value="2">Fevereiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>

                    <div class="form-group p-1">
                        <label class="control-label" style="color:darkblue;"><b>Ano</b></label>
                        <input type="number" name="ano" class="form-control shadow-sm" required style="color:darkblue;" Placeholder="Digite o ano" value="@ViewBag.AnoAtual" />
                    </div>


                    <div class="form-group p-1">
                        <label class="control-label" style="color:darkblue;"><b>Transação</b></label>
                        <select class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<Transacao>()"></select>
                    </div>
                    <div class="form-group p-1">
                        <label class="control-label" style="color:darkblue;"><b>Via</b></label>
                        <select class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<Via>()"></select>
                    </div>

                    <div class="form-group p-1">
                        <label class="control-label" style="color:darkblue;"><b>Status</b></label>
                        <select class="form-control shadow-sm" asp-items="Html.GetEnumSelectList<StatusTransacao>()"></select>
                    </div>
                    <div class="form-group p-1">
                        <button class="btn btn-primary" style="margin-top:32px;">Pesquisar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="row" style="max-height;max-width;">

        <div class="col">

            <canvas id="grafico2" style="height:200px;width:70%;padding-bottom:50px;"></canvas>

            <script>
                var data = {
                    labels: ['Alimentação', 'Veículo', 'Salário'],
                    datasets: [{
                        label: 'Receitas',
                        data: [@ViewBag.AlimentacaoReceita, @ViewBag.VeiculoReceita, @ViewBag.SalarioReceita],
                        borderWidth: 1,
                        backgroundColor: ['lightgreen'],
                    },
                    ]
                };
                var config = {
                    type: 'bar',
                    data,
                    options: {
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 18
                                    }
                                }
                            },
                            indexAxis: 'x',
                            scales: {
                                x: {
                                    beginAtZero: true,
                                    grid: {
                                        drawOnChartArea: false
                                    }
                                }
                            }
                        }
                    }
                };

                var myChart = new Chart(
                    document.getElementById('grafico2'),
                    config
                );

            </script>
        </div>

        <div class="col">

            <canvas id="grafico3" style="height:200px;width:70%;padding-bottom:50px;"></canvas>

            <script>

                var data = {
                    labels: ['Alimentação',
                        'Veículo',
                        'Moradia',
                        'Transporte',
                        'Empréstimos',
                        'Entretenimento',
                        'Impostos',
                        'Taxas',
                        'Saúde'],
                    datasets: [{
                        label: 'Depesas',
                        data: [@ViewBag.AlimentacaoDespesa,
                                @ViewBag.VeiculoDespesa,
                                @ViewBag.MoradiaDespesa,
                                @ViewBag.TransporteDespesa,
                                @ViewBag.EmprestimoDespesa,
                                @ViewBag.EntretenimentoDespesa,
                                @ViewBag.ImpostoDespesa,
                                @ViewBag.TaxaDespesa,
                                @ViewBag.SaudeDespesa],
                        borderWidth: 1,
                        backgroundColor: ['indianred'],
                    },
                    ]
                };
                var config = {
                    type: 'bar',
                    data,
                    options: {
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 18
                                    }
                                }
                            },
                            indexAxis: 'x',
                            scales: {
                                x: {
                                    beginAtZero: true,
                                    grid: {
                                        drawOnChartArea: false
                                    }
                                }
                            }
                        }
                    }
                };

                var myChart = new Chart(
                    document.getElementById('grafico3'),
                    config
                );

            </script>
        </div>

    </div>
</div>

<div style="padding-top:10px;">
    <hr>
    <h5 style="color:darkblue;padding-top:20px;padding-bottom:20px;"> Descritivo dos Lançamentos </h5>

    <table class="table table-striped" id="tabela2-lancamentos" style="text-align:center;padding-top:40px;">
        <thead>
            <tr style="background-color:aliceblue">
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Via)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Classificacao)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th style="text-align:center;">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Via)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classificacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>