@model Your_Money.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/site.css" />
<nav>
    <ol class="breadcrumb p-0 pt-0 pb-3" style="background: white;">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Usuarios" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Deletar Usuário</li>
    </ol>
</nav>

<h2 style="color:darkblue">Deletar Usuário</h2>
<hr>

@{
    var alertClass = ViewBag.AlertClass;
    var alertMessage = ViewBag.AlertMessage;
}

@if (!string.IsNullOrEmpty(alertMessage))
{
    <div class="alert @alertClass">
        @alertMessage
    </div>
}


<h3 class="mt-2 pt-5 pb-5" style="color:blue">Você tem certeza que deseja excluir este Usuário?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>
