@model IEnumerable<Your_Money.Models.Usuario>

@using System.Net.Http
@using System.Text.Json
@using System.Globalization

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal valorReceitas = ViewBag.ValorReceitas ?? 0;
    decimal valorDespesas = ViewBag.ValorDespesas ?? 0;
    decimal porcentagemDespesas = (valorDespesas / valorReceitas) * 100;

}
@{
    var alertMessage = ViewBag.AlertMessage;
}

<link rel="stylesheet" href="~/css/site.css" />

<nav>
    <ol class="breadcrumb p-0 pt-0 pb-3" style="background: white;">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Usuarios" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Minha Conta</li>
    </ol>
</nav>

<h2 style="color:darkblue;">Minha Conta</h2>
<hr>

<div class="container-fluid p-2">
    <div class="row">

        <div class="col m-1">
            <div class="card align-items-center">
                <img src="~/user.png" alt="usuário" width="70%" style="padding-top:10%;">
                <div class="card-body">
                    <p id="NameUser" class="card-text">@User.Identity.Name</p>
                </div>
                ------------------
                @foreach (var item in Model)
                {
                    <div class="p-3 pb-5">
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                    </div>
                }
            </div>
        </div>

        <div class="col-9 m-1">
            <div class="row">
                <form asp-action="Index" method="get" class="col-12 form-row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Mês</label>
                            <select name="mes" class="form-control" required>
                                <option></option>
                                <option value="1">Janeiro</option>
                                <option value="2">Fevereiro</option>
                                <option value="3">Março</option>
                                <option value="4">Abril</option>
                                <option value="5">Maio</option>
                                <option value="6">Junho</option>
                                <option value="7">Julho</option>
                                <option value="8">Agosto</option>
                                <option value="9">Setembro</option>
                                <option value="10">Outubro</option>
                                <option value="11">Novembro</option>
                                <option value="12">Dezembro</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Ano</label>
                            <input type="number" step="1" min="1901" name="ano" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" style="margin-top:32px;">Pesquisar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row text-center">
                <div class="col-4 text-center">
                    <div class="card">
                        <div class="card-body" style="background-color:lightgreen">
                            <b style="color:green">Receitas</b>
                        </div>
                        <div class="pt-5 pb-5" style="color:green">
                            <h1><b>R$ @ViewBag.ValorReceitas</b></h1>
                            <img onclick="location=HTMLHRElement='Lancamentos/Create'" src="~/revenue.png" width="40%" style="padding-top: 1rem">
                        </div>
                    </div>
                </div>

                <div class="col-4 text-center">
                    <div class="card">
                        <div class="card-body" style="background-color:indianred">
                            <b style="color:white">Despesas</b>
                        </div>
                        <div class="pt-5 pb-5" style="color:darkred">
                            <h1><b>R$ @ViewBag.ValorDespesas</b></h1>
                            <img onclick="location=HTMLHRElement='Lancamentos/Create'" src="~/expense.png" width="40%" style="padding-top: 1rem">
                        </div>
                    </div>
                </div>

                <div class="col-4 text-center">
                    <div class="card">
                        <div class="card-body" style="background-color:whitesmoke">
                            <b style="color:black">Saldo</b>
                        </div>
                        <div class="pt-5 pb-5" style="color:darkslategray">
                            <h1><b>R$ @ViewBag.Saldo</b></h1>
                            @if (ViewBag.AlertMessage != null && ViewBag.AlertClass != null)
                            {
                                if (ViewBag.AlertClass == "alert-danger")
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @ViewBag.AlertMessage
                                    </div>
                                }
                                else if (ViewBag.AlertClass == "alert-orange")
                                {
                                    <div class="alert alert-orange" role="alert">
                                        @ViewBag.AlertMessage
                                    </div>
                                }
                                else if (ViewBag.AlertClass == "alert-warning")
                                {
                                    <div class="alert alert-warning" role="alert">
                                        @ViewBag.AlertMessage
                                    </div>
                                }
                            }
                        
                        
                   
     
</div>
<div class="modal fade pt-5 mt-5" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="alertModalLabel" style="color: darkred"><b>Atenção!</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="alert alert-danger pt-4 pb-4" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-exclamation-triangle pt-4" viewBox="0 0 16 16">
                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
                    </svg>
                    <h4 style="text-align:center">@ViewBag.AlertMessage</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        var valorReceitas = parseFloat("@valorReceitas");
        var valorDespesas = parseFloat("@valorDespesas");
        var porcentagemDespesas = (valorDespesas / valorReceitas) * 100;

        if (porcentagemDespesas > 75) {
            $('#alertModal').modal('show');
        }
    });
</script>
