@model IEnumerable<Your_Money.Models.Usuario>

@{
    ViewData["Title"] = "Minha Conta";
}
<nav>
    <ol class="breadcrumb p-0 pt-0 pb-3" style="background: white;">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Usuarios" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Minha Conta</li>
    </ol>
</nav>

<div class="container-fluid">
    <div class="row">
    <div class="col">
<h2 style="color:darkblue;">Minha Conta</h2>

            <h6 style="color:darkblue;">Saldo total da conta: R$ @ViewBag.SaldoTotal</h6>
    </div>
<div class="col">
<form asp-action="Index" method="get" class="form-row">
        <div class="form-group">
            <label class="control-label">Mês</label>
            <select name="mes" class="form-control" required>
                <option></option>
                <option value="1">Janeiro</option>
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
                <option value="4">Abril</option>
                <option value="5">Maio</option>
                <option value="6">Junho</option>
                <option value="7">Julho</option>
                <option value="8">Agosto</option>
                <option value="9">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
        </div>
    <div class="col-3">
        <div class="form-group">
            <label class="control-label">Ano</label>
            <input type="number" step="1" min="1901" name="ano" class="form-control" required />
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <button class="btn btn-primary" style="margin-top:32px;">Pesquisar</button>
        </div>
    </div>
</form>
</div>
</div>
</div>

<hr>

<div class="container-fluid p-2 text-center">
    <div class="row">
        <div class="col-3">
            <div class="card align-items-center box-shadow" style="border-start-start-radius:20px;border-start-end-radius:20px;border-end-start-radius:20px;border-end-end-radius:20px;">
                <img src="~/user.png" alt="usuário" width="70%" style="padding-top:10%;">
                <div class="card-body">
                    <p id="NameUser" class="card-text">@User.Identity.Name</p>
                </div>
                ------------------
                @foreach(var item in Model)
                {
                    <div class="p-3 pb-5">
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                    </div>
                }
            </div>
        </div>

         <div class="col-3 text-center">
            <div class="card" style="border-start-start-radius:20px;border-start-end-radius:20px;border-end-start-radius:20px;border-end-end-radius:20px;">
                <div class="card-body" style="background-color:lightgreen;border-start-start-radius:20px;border-start-end-radius:20px;">
                            <b style="color:green">Receitas</b>
                        </div>
                        <div class="pt-5 pb-5" style="color:green">
                            <h1><b>R$ @ViewBag.ValorReceitas</b></h1>
                            <img onclick="location=HTMLHRElement='Lancamentos/Create'" src="~/revenue.png" width="50%" style="padding-top: 1rem">
                        </div>
                    </div>
          </div>

        <div class="col-3 text-center">
            <div class="card" style="border-start-start-radius:20px;border-start-end-radius:20px;border-end-start-radius:20px;border-end-end-radius:20px;">
                <div class="card-body" style="background-color:indianred;border-start-start-radius:20px;border-start-end-radius:20px;">
                            <b style="color:white">Despesas</b>
                        </div>
                        <div class="pt-5 pb-5" style="color:darkred">
                            <h1><b>R$ @ViewBag.ValorDespesas</b></h1>
                            <img onclick="location=HTMLHRElement='Lancamentos/Create'" src="~/expense.png" width="50%" style="padding-top: 1rem">
                        </div>
                    </div>
                </div>

        <div class="col-3 text-center">
            <div class="card" style="border-start-start-radius:20px;border-start-end-radius:20px;border-end-start-radius:20px;border-end-end-radius:20px;">
                <div class="card-body" style="background-color:whitesmoke;border-start-start-radius:20px;border-start-end-radius:20px;">
                    <b style="color:black">Saldo do mês</b>
                </div>
                <div class="pt-5 pb-5" style="color:black">
                    <h1><b>R$ @ViewBag.Saldo</b></h1>
                </div>
            </div>
        </div>
</div>
</div>
<hr>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h2 style="color:darkblue;padding-top:1rem;">Receitas x Despesas</h2>
<div>
<canvas id="grafico1" style="width: 500px;"></canvas>
</div>

<script>
    var dadosGrafico1 = {
        labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        datasets: [
            {
                label: 'Receitas',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1,
            },
            {
                label: 'Despesa',
                data: [10, 15, 5, 2, 5, 1],
                borderWidth: 1,
            }]
    };
    var opcoes = {
        responsive: true,
        maintainAspectRatio: false,
    };
    var grafico1 = new Chart(document.getElementById("grafico1"), {
        type: "bar",
        data: dadosGrafico1,
        options: opcoes,
    });
</script>



