@model IEnumerable<Your_Money.Models.Usuario>

@using System.Net.Http
@using System.Text.Json
@using System.Globalization

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal valorReceitas = ViewBag.ValorReceitas ?? 0;
    decimal valorDespesas = ViewBag.ValorDespesas ?? 0;
    decimal porcentagemDespesas = (valorDespesas / valorReceitas) * 100;

}
@{
    var alertMessage = ViewBag.AlertMessage;
}

<link rel="stylesheet" href="~/css/site.css" />

<nav>
    <ol class="breadcrumb p-0 pt-0 pb-3" style="background: white;">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Usuarios" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Minha Conta</li>
    </ol>
</nav>

<h2 style="color:darkblue;">Minha Conta</h2>
<hr>

                <h6 style="color:black;">
                    Saldo total da conta: <b>
                        <span style="color: @(ViewBag.SaldoTotal < 0 ? "red" : "green")">
                            @ViewBag.SaldoTotal.ToString("C")
                        </span>
                    </b>
                </h6>
            </div>
            <div class="col-md">
                <form asp-action="Index" method="get" class="form-row">
                    <div class="form-group ">
                        <label class="control-label" style="color:darkblue;"><b>Mês</b></label>
                        <select name="mes" class="form-control shadow-sm" required style="color:darkblue;">
                            <option value="@ViewBag.MesAtual">Mês Atual</option>
                            <option value="1">Janeiro</option>
                            <option value="2">Fevereiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Ano</label>
                            <input type="number" step="1" min="1901" name="ano" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" style="margin-top:32px;">Pesquisar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row text-center">
                <div class="col-4 text-center">
                    <div class="card">
                        <div class="card-body" style="background-color:lightgreen">
                            <b style="color:green">Receitas</b>
                        </div>
                        <div class="pt-5 pb-5" style="color:green">
                            <h1><b>R$ @ViewBag.ValorReceitas</b></h1>
                            <img onclick="location=HTMLHRElement='Lancamentos/Create'" src="~/revenue.png" width="40%" style="padding-top: 1rem">
                        </div>
                    </div>
                </div>

                <div class="col-4 text-center">
                    <div class="card">
                        <div class="card-body" style="background-color:indianred">
                            <b style="color:white">Despesas</b>
                        </div>
                        <div class="pt-5 pb-5" style="color:darkred">
                            <h1><b>R$ @ViewBag.ValorDespesas</b></h1>
                            <img onclick="location=HTMLHRElement='Lancamentos/Create'" src="~/expense.png" width="40%" style="padding-top: 1rem">
                        </div>
                    </div>
                </div>

            <div class="col-md-3 text-center">

                <div class="card shadow" id="cardMovement" style="border-start-start-radius:20px;border-start-end-radius:20px;border-end-start-radius:20px;border-end-end-radius:20px;text-size-adjust:auto;">
                    <div class="card-body pb-3" style="background: linear-gradient(darkgray,lightgray);border-start-start-radius:20px;border-start-end-radius:20px;text-size-adjust:auto;">
                        <h4><b style="color:black;text-size-adjust:auto;">Saldo do Mês</b></h4>

                    </div>
                    <div class="pt-3 pb-2" style="color:darkslategray;text-size-adjust:auto;">
                        <h2 style="text-size-adjust:auto;padding-top:20px;">
                            <b>
                                <span style='color: @(ViewBag.Saldo < 0 ? "red" : "green")'>
                                    @ViewBag.Saldo.ToString("C")
                                </span>

                            </b>
                        </h2>
                        <img src="~/saldo.png" width="30%" style="padding-top: 1rem;">
                         @if (ViewBag.AlertMessage != null && ViewBag.AlertClass != null)
                            {
                                if (ViewBag.AlertClass == "alert-danger")
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @ViewBag.AlertMessage
                                    </div>
                                }
                                else if (ViewBag.AlertClass == "alert-orange")
                                {
                                    <div class="alert alert-orange" role="alert">
                                        @ViewBag.AlertMessage
                                    </div>
                                }
                                else if (ViewBag.AlertClass == "alert-warning")
                                {
                                    <div class="alert alert-warning" role="alert">
                                        @ViewBag.AlertMessage
                                    </div>
                                }
                            }
                    </div>
                    <h7 style="color:gray;padding:5px;text-size-adjust:auto;padding-bottom:15px;">atual ou do mês selecionado acima</h7>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <style>
        .marker {
            background-color: green;
            width: 5px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .marker1 {
            background-color: red;
            width: 5px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>

    <div class="container-fluid">
        <h4 style="text-align:center;padding-bottom:5px;color:darkblue;">Em aberto para os próximos 15 dias<hr /></h4>
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow" style="border-start-end-radius:20px;border-end-end-radius:20px;">
                    <div class="card-body" style="background-color:white;border-start-end-radius:20px;border-end-end-radius:20px;">
                        <h5 style="color:darkgreen;text-align:center;padding-left:5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                                <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                                <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                                <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                            </svg>
                            À Receber
                        </h5>
                                            @{
                        DateTime dataAtual = DateTime.Today;
                        DateTime dataLimite = dataAtual.AddDays(15);
                        }
                        <table class="table" style="text-size-adjust:auto;">
                            <thead style="text-align: center;">
                                <tr style="background-color: aliceblue;">
                                    <th>Classificacao</th>
                                    <th>Valor</th>
                                    <th>Data</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                @foreach (var lancamento in ViewBag.LancamentosPendentes)
                                {
                                    if (lancamento.Data >= dataAtual && lancamento.Data <= dataLimite && lancamento.Tipo == Transacao.Receita)
                                    {
                                        <tr>
                                            <td>@lancamento.Classificacao</td>
                                            <td>@lancamento.Valor.ToString("C")</td>
                                            <td>@lancamento.Data.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                <a asp-area="" asp-controller="Lancamentos" asp-action="Edit" asp-route-id="@lancamento.Id" style="padding-right:5px;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="marker"></div>
                </div>
                                                             
               
</div>
<div class="modal fade pt-5 mt-5" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="alertModalLabel" style="color: darkred"><b>Atenção!</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="alert alert-danger pt-4 pb-4" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-exclamation-triangle pt-4" viewBox="0 0 16 16">
                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
                    </svg>
                    <h4 style="text-align:center">@ViewBag.AlertMessage</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        var valorReceitas = parseFloat("@valorReceitas");
        var valorDespesas = parseFloat("@valorDespesas");
        var porcentagemDespesas = (valorDespesas / valorReceitas) * 100;

        if (porcentagemDespesas > 75) {
            $('#alertModal').modal('show');
        }
    });
</script>
