@model Your_Money.Models.Parcelamento

@{
    ViewData["Title"] = "Details";
}

<body style="background-image: url(/blue1.png);margin-left:10px;">

    <nav>
        <ol class="breadcrumb p-0 pt-0 pb-3" style="background: white;">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Usuarios" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Lancamentos" asp-action="Index">Lançamentos</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Lancamentos" asp-action="Edit" asp-route-id="@Model.LancamentoId">Editar Lançamento</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalhar Parcela</li>
        </ol>
    </nav>

    <h2 style="color:darkblue">Detalhar Parcela</h2>
    <hr />

    <div>
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Valor)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DataPagamento)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DataPagamento)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DataVencimento)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DataVencimento)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class = "col-sm-10">
                @if (Model.Status == true)
                {
                    <span>Efetivado</span>
                }
                else
                {
                    <span>Pendente</span>
                }
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Editar</a>
        <a asp-controller="Lancamentos" asp-action="Edit" class="btn btn-secondary" asp-route-id="@Model.LancamentoId">Voltar</a>
    </div>
</body>